#main-container {
    padding: 1%;
    margin: 0;
    height: 100%;
}

#image-index {
    position: relative;
    padding: 0 5px;
    margin: 0;
}

.image-wrapper {
    width: 20vw;
    position: absolute;
}

.image {
    width: inherit;
    vertical-align: middle;
}

.image-wrapper .image-desc {
    background: white;
    color: black;
    position: absolute;
    bottom: 0;
    display: none;
    opacity: .7;
    margin: 0;
    padding: 0;
}

.image-wrapper .anchor-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.image-desc .description {
    word-break: break-word;
    font-weight: bold;
    margin: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    height: auto;
    left: 0;
    right: 0;
    z-index: 999;
    background: black;
    border: gray solid 1px;
}